---
import NavLink from './NavLink.astro';

const { navIndex = 0 } = Astro.props;

type NavLinksType = Array<{
  isActive: boolean;
  href: string;
  navName: string;
  customClasses?: string;
  customStyles?: string;
}>;

/**
 * Generates the links for the navigation
 */
function generateLinks(): NavLinksType {
  const pages = [
    {
      href: '/',
      navName: 'Home',
      isActive: false,
    },
    {
      href: '/projects',
      navName: 'Projects',
      isActive: false,
    },
    {
      href: '/blog',
      navName: 'Blog',
      isActive: false,
    },
  ] as NavLinksType;
  for (let i = 0; i < pages.length; i++) {
    if (i === navIndex) {
      pages[i].isActive = true;
    } else {
      pages[i].isActive = false;
    }
  }
  return pages;
}

const links = generateLinks();
---

<nav>
  <ul class="flex flex-row justify-end backdrop-blur-sm">
    <li class="mr-auto">
      <a href="/">
        <img
          src="/img/pretzelnet-logo.png"
          alt="pretzelnet logo"
          height="30"
          width="200"
          class="object-cover"
        />
      </a>
    </li>
    <div class="flex flex-row">
      {
        (links as NavLinksType).map((value) => (
          <NavLink
            href={value.href}
            customClasses={value.customClasses}
            customStyles={value.customStyles ? value.customStyles : ''}
            isActive={value.isActive}
          >
            {value.navName}
          </NavLink>
        ))
      }
    </div>
  </ul>
</nav>
