---
import Hamburger from "../Hamburger.astro";
import NavLink from "./NavLink.astro";

const { navIndex = 0 } = Astro.props;

type NavLinksType = Array<
  {
    isActive: boolean,
    href: string,
    navName: string,
    customClasses?: string,
    customStyles?: string
  }
>

/**
 * Generates the links for the navigation
 */
function generateLinks(): NavLinksType {
  const pages = [
    {
      href: "/",
      customClasses: "mr-auto",
      navName: "Home",
      isActive: false
    },
    {
      href: "/projects",
      customClasses: "mr-2",
      navName: "Projects",
      isActive: false
    },
    {
      href: "/blog",
      navName: "Blog",
      isActive: false
    },
  ] as NavLinksType
  for (let i = 0; i < pages.length; i++) {
    if (i === navIndex) {
      pages[i].isActive = true;
    } else {
      pages[i].isActive = false;
    }
  }
  return pages;
}

const links = generateLinks();
---
<nav class="backdrop-blur-md shadow-lg p-4 rounded-md">
  <ul class="flex flex-row justify-end">
    {(links as NavLinksType).map((value) => (
      <NavLink
        href={value.href}
        customClasses={value.customClasses}
        customStyles={value.customStyles ? value.customStyles : ''}
        isActive={value.isActive}
        >{value.navName}
      </NavLink>
    ))}
  </ul>
</nav>
