---
import Hamburger from "../Hamburger.astro";
import NavLinkCollection from "./NavLinkCollection.astro";
---
<nav
  class=" flex
    backdrop-blur-md shadow-lg p-4 rounded-md
    border-opacity-15 border-purple-300 border-2">
    <div>
      <NavLinkCollection />
    </div>
</nav>
