---

---

<ul class="flex border rounded-3xl px-2">
  <a href="/blog">
    <li class="mr-2 border-r pr-2 pl-1 py-3
       hover:text-white">
      <p>Blog</p>
    </li>
  </a>
  <a href="/cool">
    <li class="pr-1 py-3 hover:text-white">
      <p>Cool</p>
    </li>
  </a>
</ul>