---
const {
  href,
  customClasses = '',
  customStyles = '',
  isActive = false,
} = Astro.props;
---

<li
  class={
  'p-2 flex justify-center items-center ' +
    (isActive
      ? 'font-bold shadow-none underline '
      : 'text-zinc-700 ') +
    customClasses
  }
  style={customStyles}
>
  <a href={href}><slot /></a>
</li>
