---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/posts/post-1">Test post 1</a></li>
    <li><a href="/posts/post-2">Test post 2</a></li>
    <li><a href="/posts/post-3">Test post 3</a></li>
  </ul>
</BaseLayout>
