---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout customBodyClass="bg-purple-300 dark:bg-fuchsia-900">
  <div
    class="flex flex-col items-center dark:bg-purple-400 py-10"
    style="
      --mask: conic-gradient(from -40deg at bottom,#0000,#000 1deg 79deg,#0000 80deg) 50%/50.35px 100%;
      -webkit-mask: var(--mask);
      mask: var(--mask);"
  >
    <img
      class="max-w-3xl max-h-full"
      src="/img/pretzel-parlor-logo.png"
      alt="Pretzel parlor logo"
    />
    <p class="text-xl"><span class="font-bold">MOTM:</span> How bout that for a dollar?</p>
  </div>
  <!-- <div
    style="display: flex; align-items: center; justify-content: center; margin: 160px 0px;"
  >
    <div
      style="text-align: center; border: 2px solid #d4d4d4; border-radius: 4px; display: flex; align-items: center; justify-content: center; width: fit-content"
    >
      <img
        src="/construction_sign.gif"
        alt="Construction sign"
        width="150"
        height="100"
      />
      <img
        src="/under_construction.gif"
        alt="Under construction"
        width="200"
        height="63"
      />
      <img
        src="/construction_sign.gif"
        alt="Construction sign"
        width="150"
        height="100"
      />
    </div>
  </div> -->
</BaseLayout>
