---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Hello! I am a pretzel!</h2>

  <p>I am a Full Stack web dev from Oklahoma.</p>
</BaseLayout>
