---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Hello! I am a Full Stack Web Dev from Oklahoma!</h2>

  <p>This site is currently being worked on so expect big changes!</p>
  <div style="display: flex; align-items: center; justify-content: center; margin: 160px 0px;">
    <div
      style="text-align: center; border: 2px solid #d4d4d4; border-radius: 4px; display: flex; align-items: center; justify-content: center; width: fit-content"
    >
      <img
        src="/construction_sign.gif"
        alt="Construction sign"
        width="150"
        height="100"
      />
      <img
        src="/under_construction.gif"
        alt="Under construction"
        width="200"
        height="63"
      />
      <img
        src="/construction_sign.gif"
        alt="Construction sign"
        width="150"
        height="100"
      />
    </div>
  </div>
</BaseLayout>
