---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Pretzelnet 🥨";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Hello! I am a Full Stack Web Dev from Oklahoma!</h2>

  <p>
    This site is currently being worked on so expect big changes!
  </p>
  <div style="text-align: center; margin: 100px 0px; border: 2px solid #d4d4d4; border-radius: 4px;">
    <img src="/pretzelnet/construction_sign.gif" alt="Construction sign">
    <img src="/pretzelnet/under_construction.gif" alt="Under construction">
    <img src="/pretzelnet/construction_sign.gif" alt="Construction sign">
  </div>
</BaseLayout>
