---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Pretzelnet 🥨";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Hello! I am a Full Stack Web Dev from Oklahoma!</h2>

  <p>
    This site is currently being worked on so expect big changes!
  </p>
</BaseLayout>
