---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
const pageTitle = "Home";
---

<BaseLayout customBodyClass="bg-fuchsia-900" hideNav={true}>
  <div
    class="flex flex-col items-center bg-purple-400 py-64"
    style="
      --mask: conic-gradient(from -47.5deg at bottom,#0000,#000 1deg 94deg,#0000 95deg) 50%/65.48px 100%;
      -webkit-mask: var(--mask);
      mask: var(--mask);"
  >
    <div class="flex flex-col items-center">
      <img
        class="max-w-3xl max-h-full"
        src="/img/pretzel-parlor-logo.png"
        alt="Pretzel parlor logo"
      />
      <p class="text-xl my-10">
        <span class="font-bold">MOTM(12-2024):</span> How bout that for a dollar?
      </p>
    </div>
    <nav>
      <ul class="flex">
        <li>
          <Button>
            <p><a href="/blog">Blog</a></p>
          </Button>
        </li>
      </ul>
    </nav>
  </div>
  <!-- <div
    style="display: flex; align-items: center; justify-content: center; margin: 160px 0px;"
  >
    <div
      style="text-align: center; border: 2px solid #d4d4d4; border-radius: 4px; display: flex; align-items: center; justify-content: center; width: fit-content"
    >
      <img
        src="/construction_sign.gif"
        alt="Construction sign"
        width="150"
        height="100"
      />
      <img
        src="/under_construction.gif"
        alt="Under construction"
        width="200"
        height="63"
      />
      <img
        src="/construction_sign.gif"
        alt="Construction sign"
        width="150"
        height="100"
      />
    </div>
  </div> -->
</BaseLayout>
