---
import HomeLayout from '../layouts/HomeLayout.astro';
const pageTitle = 'Home';
---

<HomeLayout pageTitle={pageTitle}>
  <!-- <div class="h-dvh bg-blue-400">
    <p>This should take up the whole screen.</p>
  </div> -->
  <h2>Hello! I am a Full Stack Web Dev from Oklahoma!</h2>
  <p>This site is currently being worked on so expect big changes!</p>
  <div style="display: flex; align-items: center; justify-content: center; margin: 160px 0px;">
    <div
      style="text-align: center; border: 2px solid #d4d4d4; border-radius: 4px; display: flex; align-items: center; justify-content: center; width: fit-content"
    >
      <img
        src="/img/construction_sign.gif"
        alt="Construction sign"
        width="150"
        height="100"
      />
      <img
        src="/img/under_construction.gif"
        alt="Under construction"
        width="200"
        height="63"
      />
      <img
        src="/img/construction_sign.gif"
        alt="Construction sign"
        width="150"
        height="100"
      />
    </div>
  </div>
</HomeLayout>
