---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Projects';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Some of the projects I have worked on.</p>

  <h2>SAFED</h2>
  
</BaseLayout>
