---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Projects';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Some of the projects I have worked on.</p>

  <p><strong>PROJECTS WILL GO HERE</strong></p>
</BaseLayout>
