---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Projects';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Some of the projects I have worked on.</p>

  <div>
    <h2 class="text-2xl font-bold pt-10 pb-4">SAFED</h2>
    <div class="flex">
      <p>Github: <a href="https://github.com/pretzelogical/PAD">https://github.com/pretzelogical/PAD</a></p>
      <p>Blog post: </p>
    </div>
    <img src="/img/projects/SAFED.png" alt="SAFED logo">
    <p class="py-4">
      S.A.F.E.D. is a website that contains profiles on organizations and people
      that fall under the State and Federal Entity umbrella. The main page shows
      you the latest popular news articles linked with related people. It also
      shows the most popular profiles based on views. There is also a search
      function that allows you to search for either people or organizations in the
      database.
    </p>

    <p class="pb-2">This was a project I undertook at Atlas School. Our team had
      about two weeks to complete everything.
    </p>
  
    <h3 class="text-xl font-bold py-2">Accomplishments</h3>
    <ul>
      <li>Briefed team on new technologies used in the project.</li>
      <li>Designed a system for scraping data into the database from the web.</li>
      <li>Hosted a demo on google cloud run</li>
    </ul>
  </div>

</BaseLayout>
