---

---

<footer>
  <ul>
    <li>
      <a href="https://www.github.com/pretzelogical">
        <img
            src="/github-logo.svg"
            alt="Github Logo"
            width="32"
            height="32"
        />
      </a>
    </li>
  </ul>
</footer>
