---
import Hamburger from "./Hamburger.astro";
---
<Hamburger />
<nav class="nav-links">
  <ul>
    <li>
      <a href="/" class="nav-links__logo">Pretzelnet 🥨</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
  </ul>
</nav>
