---
import Hamburger from "./Hamburger.astro";
---
<Hamburger />
<nav class="nav-links">
  <ul>
    <li>
      <a href="/pretzelnet" class="nav-links__logo">Pretzelnet 🥨</a>
    </li>
    <li>
      <a href="/pretzelnet/blog">Blog</a>
    </li>
    <li>
      <a href="/pretzelnet/about">About</a>
    </li>
  </ul>
</nav>
