---
const socialSize = 32;
---

<div id="social-links" class="flex justify-end px-10">
  <ul class="flex w-fit">
    <li
      class="mr-4 shadow-lg rounded-lg p-2 cursor-pointer
       bg-zinc-50 border border-zinc-200
       hover:bg-zinc-200 hover:border-zinc-500 hover:text-zinc-700
         hover:shadow-2xl hover:-translate-y-2 hover:scale-105 hover:duration-300"
      style="transition: all 0.4s cubic-bezier(.68,-0.55,.27,1.55);"
      >
      <a href="https://www.linkedin.com/willow-morris-pretzelogic">
        <img src="/linkedin-logo.svg" alt="LinkedIn Logo" width={socialSize} height={socialSize}>
      </a>
    </li>
    <li
      class="shadow-lg rounded-lg p-2 cursor-pointer
       bg-zinc-50 border border-zinc-200
       hover:bg-zinc-200 hover:border-zinc-500 hover:text-zinc-700
         hover:shadow-2xl hover:-translate-y-2 hover:scale-105 hover:duration-300"
      style="transition: all 0.4s cubic-bezier(.68,-0.55,.27,1.55);"
      >
      <a href="https://www.github.com/pretzelogical">
        <img src="/github-logo.svg" alt="Github Logo" width={socialSize} height={socialSize} />
      </a>
    </li>
  </ul>
</div>
