---
const socialSize = 32;
---

<div id="social-links">
  <ul>
    <li>
      <a href="https://www.linkedin.com/willow-morris-pretzelogic">
        <img src="/linkedin-logo.svg" alt="LinkedIn Logo" width={socialSize} height={socialSize}>
      </a>
    </li>
    <li>
      <a href="https://www.github.com/pretzelogical">
        <img src="/github-logo.svg" alt="Github Logo" width={socialSize} height={socialSize} />
      </a>
    </li>
  </ul>
</div>
