// Breakpoints
$sm-breakpoint: 481px;
$md-breakpoint: 961px;

// Colors
$default-border: #d4d4d4;
$bg-color: #f1f5f9;

$hover-color: #7265d4;
$active-color: #aea6ef;

:root {
  --hover-color: #{$hover-color};
}

html {
  background-color: $bg-color;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  max-width: 80ch;
  padding: 16px;
  line-height: 1.5;
  @media screen and (min-width: $md-breakpoint) {
    max-width: 160ch;
    padding: 0 32px;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

footer {
  margin-top: auto
}

ul li::marker {
  content: '- ';
  font-weight: bold;
}


// Nav links
.nav-links {
  width: 100%;
  top: 5rem;
  display: none;
  margin: 0;
  ul {
    padding-left: 0;
    li::marker {
      content: none;
    }
    li a {
      display: block;
      text-align: center;
      padding: 5px;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #151414;
      border: 2px solid $default-border;
      border-radius: 4px;
      line-height: 40px;
      &:hover {
        background-color: $hover-color;
      }
      &:active {
        background-color: $active-color;
      }
    }
  }
  @media screen and (min-width: $sm-breakpoint) {
    width: auto;
    display: block;
    ul {
      display: grid;
      grid-template-columns: 1fr auto auto;
      gap: 4px;
      align-items: center;
      li a {
        display: inline-block;
        padding: 15px 25px;
        line-height: normal;
        justify-self: end;
        &.nav-links__home {
          justify-self: start;
        }
      }
    }
  }
}

.expanded {
  display: unset;
}

// Hamburger menu
.hamburger {
  padding-right: 20px;
  cursor: pointer;

  .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #151414;
  }
  @media screen and (min-width: $sm-breakpoint) {
    & {
      display: none;
    }
  }
}

// Details

details {
  border: 2px solid $default-border;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: fit-content;
  &[open] {
    width: auto;
  }
  summary {
    cursor: pointer;
  }
}

// Social links

#social-links ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 4px;
  li a img {
    border: 2px solid $default-border;
    border-radius: 10px;
    &:hover {
      background-color: $hover-color;
    }
  }
  li::marker {
    content: none;
  }
}