html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

footer {
  margin-top: auto
}

// Breakpoints
$md-breakpoint: 636px;

// Nav links
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  // display: none;
  margin: 0;
  a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #151414;
  }
  a:hover {
    background-color: #7265d4;
  }
  a:focus {
    background-color: #7265d4;
  }
  @media screen and (min-width: $md-breakpoint) {
    & {
      .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
      }
    }
    & a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
}

// Hamburger menu
.hamburger {
  padding-right: 20px;
  cursor: pointer;

  .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #151414;
  }
  @media screen and (min-width: $md-breakpoint) {
    & {
      display: none;
    }
  }
}

