---
import '../global.css';
import Navigation from '../components/Navigation.astro';
import SocialLinks from '../components/SocialLinks.astro';
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="../scripts/hamburger.js"></script>
		<script src="../scripts/footer.js"></script>
		<title>{pageTitle}</title>
	</head>
	<body>
		<header>
			<Navigation />
		</header>
		<main>
			<h1>{pageTitle}</h1>
      <slot />
		</main>
		<footer>
			<SocialLinks />
		</footer>
	</body>
</html>
