---
import BaseLayout from './BaseLayout.astro';
import '../global.scss';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <details>
    <summary>Post Info</summary>
    <ul>
      <li>
        Description: {frontmatter.description}
      </li>
      <li>
        Published: {frontmatter.pubDate.toString().slice(0, 10)}
      </li>
      <li>
        Tags: {frontmatter.tags.toString().replaceAll(',', ', ')}
      </li>
    </ul>
  </details>
  <slot />
</BaseLayout>
